$color-light: #fff;
$color-light2: #D4D4D4;
$color-light3: #999;
$color-dark: #444;
$color-dark2: #666;
$button-bg: #FF4E50;

$font-size-l: 26px;
$font-size-m: 24px;
$font-size-s: 22px;
$font-size-xs: 14px;