footer.footer
   .footer__container
      .footer__brand Dreamshare
      .footer__company Company
         ul.footer__list
            li.footer__item
               a.footer__href(href='#') About
            li.footer__item
               a.footer__href(href='#') Contact
            li.footer__item
               a.footer__href(href='#') Press
            li.footer__item
               a.footer__href(href='#') Blog
            li.footer__item
               a.footer__href(href='#') Terms and Privacy
            li.footer__item
               a.footer__href(href='#') Help  
      .footer__partners Partners
      .footer__block
         .footer__designed Designed by
         img.footer__logo(src='./images/areto_logo.png', alt='Areto Development')
