header.header
   .header__container
      .header__brand Dreamshare
      .header__log
         a.header__button.header__button_login(href='#') Log in
         a.header__button.header__button_signup(href='#') Sign Up